<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyNotePad.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B2F2CDC81CA1438400BBD6B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2F2CDE41CA1438500BBD6B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2F2CDEF1CA1438500BBD6B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
